jsonformer>=0.12.0
langchain>=0.1.1
langchain-community
google-generativeai>=0.3.0
python-dotenv==1.0.0
tenacity==8.2.2
peft==0.7.1
transformers==4.40.2
pandas>=1.5.3
scikit-learn>=1.4.0
wikipedia>=1.4.0
beautifulsoup4>=4.9.0
loguru>=0.7.2
datasets>=2.15.0
trl>=0.7.6
jsonlines>=4.0.0
torchmetrics>=1.2.1
sentencepiece==0.1.99
protobuf==4.25.1
streamlit>=1.31.0
scipy==1.10.1
requests>=2.25.0
llmlingua>=0.2.0
numpy==1.26.4